.container {
  padding: 10px 20px;
}

.searchContainer {
  position: relative;
  width: 30vh;
}

.searchInput {
  padding: 10px 20px;
  padding-left: 40px;
  border-radius: 20px;
  width: 30vw;
  border: none;
}

.searchInput:focus {
    outline: 1px solid #00D7FF;
}